@model TeddyShopWebApplication.Models.Historial_Precio

<link rel="stylesheet" href="~/css/roles.css" />
<h2 class="text-center">Crear Historial de Precio</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="HistorialPrecioId" class="control-label"></label>
                <input asp-for="HistorialPrecioId" class="form-control" />
                <span asp-validation-for="HistorialPrecioId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstadoPrecio" /> @Html.DisplayNameFor(model => model.EstadoPrecio)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="Producto_IdProducto" class="control-label"></label>
                <select asp-for="Producto_IdProducto" class="form-control" asp-items="ViewBag.Producto_IdProducto"></select>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Crear" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-back">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
