@model TeddyShopWebApplication.Models.Inventario

<link rel="stylesheet" href="~/css/roles.css" />
<h2 class="text-center">Crear Inventario</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdInventario" class="control-label"></label>
                <input asp-for="IdInventario" class="form-control" />
                <span asp-validation-for="IdInventario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StockMinimo" class="control-label"></label>
                <input asp-for="StockMinimo" class="form-control" />
                <span asp-validation-for="StockMinimo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrecioVenta" class="control-label"></label>
                <input asp-for="PrecioVenta" class="form-control" />
                <span asp-validation-for="PrecioVenta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrecioCompra" class="control-label"></label>
                <input asp-for="PrecioCompra" class="form-control" />
                <span asp-validation-for="PrecioCompra" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StockMaximo" class="control-label"></label>
                <input asp-for="StockMaximo" class="form-control" />
                <span asp-validation-for="StockMaximo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdDevolucion" class="control-label"></label>
                <select asp-for="IdDevolucion" class="form-control" asp-items="ViewBag.IdDevolucion"></select>
            </div>

            <div class="form-group">
                <label asp-for="Producto_IdProducto" class="control-label"></label>
                <input asp-for="Producto_IdProducto" class="form-control" />
                <span asp-validation-for="Producto_IdProducto" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Crear" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-back">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
