@model TeddyShopWebApplication.Models.Producto

@{
    ViewData["Title"] = "Crear Producto";
}
<link rel="stylesheet" href="~/css/roles.css" />

<h2 class="text-center">Crear Producto</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdProducto" class="control-label"></label>
                <input asp-for="IdProducto" class="form-control" />
                <span asp-validation-for="IdProducto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EstiloProducto" class="control-label"></label>
                <input asp-for="EstiloProducto" class="form-control" />
                <span asp-validation-for="EstiloProducto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CmCabezaColaProducto" class="control-label"></label>
                <input asp-for="CmCabezaColaProducto" class="form-control" />
                <span asp-validation-for="CmCabezaColaProducto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MaterialProducto" class="control-label"></label>
                <input asp-for="MaterialProducto" class="form-control" />
                <span asp-validation-for="MaterialProducto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DisponibilidadProducto" class="control-label"></label>
                <input asp-for="DisponibilidadProducto" class="form-control" />
                <span asp-validation-for="DisponibilidadProducto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CmColaPataProducto" class="control-label"></label>
                <input asp-for="CmColaPataProducto" class="form-control" />
                <span asp-validation-for="CmColaPataProducto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TamañoProducto" class="control-label"></label>
                <input asp-for="TamañoProducto" class="form-control" />
                <span asp-validation-for="TamañoProducto" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Crear" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-back">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
