@model TeddyShopWebApplication.Models.Detalle_Factura

<link rel="stylesheet" href="~/css/roles.css" />
<h2 class="text-center">Crear Detalle de Factura</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NumDetalle" class="control-label"></label>
                <input asp-for="NumDetalle" class="form-control" />
                <span asp-validation-for="NumDetalle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrecioDetalleFactura" class="control-label"></label>
                <input asp-for="PrecioDetalleFactura" class="form-control" />
                <span asp-validation-for="PrecioDetalleFactura" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CantidadDetalleFactura" class="control-label"></label>
                <input asp-for="CantidadDetalleFactura" class="form-control" />
                <span asp-validation-for="CantidadDetalleFactura" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Inventario_IdInventario" class="control-label"></label>
                <select asp-for="Inventario_IdInventario" class="form-control" asp-items="ViewBag.Inventario_IdInventario"></select>
                <span asp-validation-for="Inventario_IdInventario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Producto_IdProducto" class="control-label"></label>
                <select asp-for="Producto_IdProducto" class="form-control" asp-items="ViewBag.Producto_IdProducto"></select>
                <span asp-validation-for="Producto_IdProducto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Factura_IdFactura" class="control-label"></label>
                <select asp-for="Factura_IdFactura" class="form-control" asp-items="ViewBag.Factura_IdFactura"></select>
                <span asp-validation-for="Factura_IdFactura" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Crear" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-back">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
