# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de log
*.log

# Ignorar archivos de entorno
.env

# Ignorar archivos temporales
*.tmp

# Ignorar el directorio dist
dist/

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
