@model TeddyShop.Models.Detalle_Pedido

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Detalle_Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumDetalle" class="control-label"></label>
                <input asp-for="NumDetalle" class="form-control" />
                <span asp-validation-for="NumDetalle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioDetallePedido" class="control-label"></label>
                <input asp-for="PrecioDetallePedido" class="form-control" />
                <span asp-validation-for="PrecioDetallePedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadDetallePedido" class="control-label"></label>
                <input asp-for="CantidadDetallePedido" class="form-control" />
                <span asp-validation-for="CantidadDetallePedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedido_NumPedido" class="control-label"></label>
                <select asp-for="Pedido_NumPedido" class ="form-control" asp-items="ViewBag.Pedido_NumPedido"></select>
            </div>
            <div class="form-group">
                <label asp-for="Producto_IdProducto" class="control-label"></label>
                <select asp-for="Producto_IdProducto" class ="form-control" asp-items="ViewBag.Producto_IdProducto"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
