@model TeddyShopWebApplication.Models.Metodo_Pago

<link rel="stylesheet" href="~/css/roles.css" />
<h2 class="text-center">Crear Método de Pago</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NumPago" class="control-label"></label>
                <input asp-for="NumPago" class="form-control" />
                <span asp-validation-for="NumPago" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NombreMetodoPago" class="control-label"></label>
                <input asp-for="NombreMetodoPago" class="form-control" />
                <span asp-validation-for="NombreMetodoPago" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Factura_IdFactura" class="control-label"></label>
                <select asp-for="Factura_IdFactura" class="form-control" asp-items="ViewBag.Factura_IdFactura"></select>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Crear" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-back">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
