@model TeddyShopWebApplication.Models.Empleado

<link rel="stylesheet" href="~/css/roles.css" />
<h2 class="text-center">Crear Empleado</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DniEmpleado" class="control-label"></label>
                <input asp-for="DniEmpleado" class="form-control" />
                <span asp-validation-for="DniEmpleado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TelefonoEmpleado" class="control-label"></label>
                <input asp-for="TelefonoEmpleado" class="form-control" />
                <span asp-validation-for="TelefonoEmpleado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CodigoEmpleado" class="control-label"></label>
                <input asp-for="CodigoEmpleado" class="form-control" />
                <span asp-validation-for="CodigoEmpleado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaNaciminetoEmpleado" class="control-label"></label>
                <input asp-for="FechaNaciminetoEmpleado" type="date" class="form-control" />
                <span asp-validation-for="FechaNaciminetoEmpleado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NombreEmpleado" class="control-label"></label>
                <input asp-for="NombreEmpleado" class="form-control" />
                <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Compañia_NIT" class="control-label"></label>
                <select asp-for="Compañia_NIT" class="form-control" asp-items="ViewBag.Compañia_NIT"></select>
                <span asp-validation-for="Compañia_NIT" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <input type="submit" value="Crear" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-back">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
