@model TeddyShopWebApplication.Models.Factura

<link rel="stylesheet" href="~/css/roles.css" />

<h2>Editar Factura</h2>

<div class="form-container">
    <form asp-action="Edit" method="post" class="role-form">
        <input type="hidden" asp-for="IdFactura" />

        <div class="form-group mb-3">
            <label asp-for="FechaCreacion_Factura" class="form-label">Fecha de Creación</label>
            <input asp-for="FechaCreacion_Factura" class="form-control" placeholder="Selecciona la fecha" />
            <span asp-validation-for="FechaCreacion_Factura" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="HoraCreacion_Factura" class="form-label">Hora de Creación</label>
            <input asp-for="HoraCreacion_Factura" class="form-control" placeholder="Ingresa la hora" />
            <span asp-validation-for="HoraCreacion_Factura" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Pedido_NumPedido" class="form-label">Número de Pedido</label>
            <select asp-for="Pedido_NumPedido" class="form-control" asp-items="ViewBag.Pedido_NumPedido"></select>
            <span asp-validation-for="Pedido_NumPedido" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Cliente_DniCliente" class="form-label">DNI del Cliente</label>
            <select asp-for="Cliente_DniCliente" class="form-control" asp-items="ViewBag.Cliente_DniCliente"></select>
            <span asp-validation-for="Cliente_DniCliente" class="text-danger"></span>
        </div>

        <div class="button-group">
            <button type="submit" class="btn btn-create">
                <i class="fas fa-save"></i> Guardar
            </button>

            <a asp-action="Index" class="btn btn-back">
                <i class="fas fa-arrow-left"></i> Volver
            </a>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
