@model TeddyShopWebApplication.Models.Factura

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Factura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFactura" />
            <div class="form-group">
                <label asp-for="FechaCreacion_Factura" class="control-label"></label>
                <input asp-for="FechaCreacion_Factura" class="form-control" />
                <span asp-validation-for="FechaCreacion_Factura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraCreacion_Factura" class="control-label"></label>
                <input asp-for="HoraCreacion_Factura" class="form-control" />
                <span asp-validation-for="HoraCreacion_Factura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pedido_NumPedido" class="control-label"></label>
                <select asp-for="Pedido_NumPedido" class="form-control" asp-items="ViewBag.Pedido_NumPedido"></select>
                <span asp-validation-for="Pedido_NumPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente_DniCliente" class="control-label"></label>
                <select asp-for="Cliente_DniCliente" class="form-control" asp-items="ViewBag.Cliente_DniCliente"></select>
                <span asp-validation-for="Cliente_DniCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
