@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

<h2>Usuarios Registrados</h2>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Nombre de Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Email</td>
                <td>@usuario.UserName</td>
                <td>
                    <a class="btn btn-info" asp-controller="Usuarios" asp-action="Edit" asp-route-id="@usuario.Id">Editar</a>
                    <a class="btn btn-danger" asp-controller="Usuarios" asp-action="Delete" asp-route-id="@usuario.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
