@model TeddyShopWebApplication.Models.Vendedor

<link rel="stylesheet" href="~/css/roles.css" />
<h2 class="text-center">Crear Vendedor</h2>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DniEmpleado" class="control-label"></label>
                <select asp-for="DniEmpleado" class="form-control" asp-items="ViewBag.DniEmpleado"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodigoVendedor" class="control-label"></label>
                <input asp-for="CodigoVendedor" class="form-control" />
                <span asp-validation-for="CodigoVendedor" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Crear" class="btn btn-create" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-back">Volver a la Lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
